.tweety-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tweety-header {
  margin: -20px 0 20px 0;
}

span {
  color: #76b800;
  font-size: 80px;
  text-align: center;
}

.tweety {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../../assets/Map-2.jpg");
  /* background-image: url("https://st4.depositphotos.com/1008317/20009/v/1600/depositphotos_200092618-stock-illustration-landscape-seamless-pattern-countryside-houses.jpg"); */
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
}

.tweety-level2 {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../../assets/Map-3.jpg");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
}

.tweety-level3 {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../../assets/Map-1.jpg");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
}

.tweety-level4 {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../../assets/Map-4.jpg");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
}

.birdy {
  width: 20px;
  height: 20px;
}

.prey {
  background-image: url("../../assets/Prey-1.png");
  background-size: 100% 100%;
  background-color: transparent;
  padding: 5px;
  margin: -5px;
}

.birdyshead {
  background-color: transparent;
  background-image: url("../../assets/Bird-2.png");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
}

.birdyshead-up {
  background-color: transparent;
  background-image: url("../../assets/Bird-2.png");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
  transform: rotate(-90deg);
}

.birdyshead-left {
  background-color: transparent;
  background-image: url("../../assets/Bird-2.png");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
  transform: scale(-1, 1);
}

.birdyshead-down {
  background-color: transparent;
  background-image: url("../../assets/Bird-2.png");
  background-size: 100% 100%;
  padding: 20px;
  margin: -20px;
  transform: rotate(90deg);
}

.birdysinvisibletail {
  background-color: transparent;
}

.tweety-message {
  width: 110%;
  text-align: center;
  background-size: 100% 100%;
  background-image: url("../../assets/GameOver.jpg");
  margin: -20px;
}