@import "../../global-variables.scss";

%titleproperties {
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 0;
}

.dashboard {
  display: flex;
  &_hub {
    min-width: 360px;
    max-width: 360px;
    background-color: $base-color;
    &_logowrapper {
      text-align: right;
      padding: 3rem 0;
      &-logo {
        width: 50%;
      }
    }
    &_profile {
      &-welcome {
        @extend %titleproperties;
      }
      &-username {
        text-align: right;
        margin-right: 3rem;
        margin-top: 0;
        font-weight: lighter;
      }
    }
    &_stats {
      margin-top: 4rem;
      &-title {
        @extend %titleproperties;
        margin-bottom: 1rem;
      }
      &_scoreofgame {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        &-game {
          margin: 0;
          font-weight: lighter;
          text-align: left;
          font-size: 1rem;
        }
        &-score {
          margin: 0;
          color: black;
          font-weight: lighter;
        }
      }
    }
  }
  &_main {
    &_header {
      &_banner {
        margin: 2rem 0;
        &-image {
          width: 100%;
        }
      }
      &_search {
        text-align: left;
        margin: 0 2rem;

        &-searchfield {
          background: url(../../assets/searchicon.png) no-repeat center left 6px;
          background-size: 5%;
          color: blanchedalmond;
          padding-left: 50px;
          border: 2px $base-color solid;
          width: 400px;
          height: 2rem;
          outline: none;
        }
      }
    }
  }
  &_main {
    &_gameboard {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      &_game {
        margin: 2rem;
        width: 263px;

        &_thumb {
          width: 263px;
          height: 150px;
          border: 2px $base-color solid;
          background-color: $base-color;

          & > img {
            height: 100%;
            &:hover {
              opacity: 30%;
            }
          }
        }
        &_title {
          color: white;
          text-align: left;
          font-size: 1.5rem;
          margin: 1rem 0 0 1rem;
        }
        &_score {
          color: rgb(126, 126, 126);
          text-align: left;
          font-size: 1rem;
          margin-left: 1rem;
          & > span {
            color: $base-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}
