@import "../global-variables.scss";

body {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

h1,
p,
input {
  color: white;
}

.login {
  &_form {
    &_field {
      width: 400px;
      border-width: 0 0 2px 0;
    }

    &_field:focus {
      width: 500px;
      border-width: 0 0 2px 0;
      border-color: $base-color;
      outline: none;
    }

    &_button {
      margin-top: 3rem;
      border: 0;
      background-color: $base-color;
      padding: 0.7rem 5rem;
    }
  }
}

button {
  color: $base-color;
  border: 0;
  font-size: 1.1rem;
}

button:focus {
  outline: none;
}

button:active {
  color: white;
}

a {
  text-decoration: none;
}

.login_main_form {
  border: solid $base-color;
  border-width: 0 20px;
  margin: 2rem 0 4rem 0;
}

.login_header {
  border: solid white;
  border-width: 0 20px;
  margin: 2rem 0 4rem 0;
  &_icon {
    width: 100px;
  }
  &_description {
    width: 70vw;
    text-align: center;
    margin: auto;
  }
}

.hidden,
.hiddenSignupSuccessful,
.hiddenpassworderrormessage {
  visibility: hidden;
}

.errormessage,
.signupSuccessful,
.passworderrormessage {
  color: red;
}
